.feature {
    height: 100vh;
}

.feature--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.feature--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
    padding-bottom: 20vh;
    padding-top: 6vh;
}

.feature--name {
    font-size: 8.3vh;
    font-weight: bold;
}

.feature--info {
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 2vh;
}

.feature--points,
.feature--year,
.feature--seasons {
    display: inline-block;
    margin-right: 2vh;
}

.feature--points {
    color: #46d369;
}

.feature--description {
    margin-top: 2vh;
    font-size: 2.6vh;
    color: #999;
    max-width: 40%;
}

.watch--button,
.mylist--button {
    display: inline-block;
    font-size: 2.7vh;
    font-weight: bold;
    padding: 2vh 3.4vh;
    border-radius: 0.5vh;
    text-decoration: none;
    margin-top: 1vh;
    margin-right: 1.3vh;
    margin-bottom: 1vh;
    opacity: 1;
}

.watch--button:hover,
.mylist--button:hover {
    opacity: 70%;
}

.watch--button {
    background-color: #fff;
    color: #000;
}

.assistir {
    margin-left: 0.5vh;
}

.mylist--button {
    background-color: #333;
    color: #fff;
}

.feature--genres {
    color: #444;
}
